{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Reserva</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
  </head>
  <body>
    <div class="container">
      <h2>Editar Reserva</h2>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Salvar alterações</button>
      </form>

      <a href="{% url 'index' %}" class="back-link">Voltar</a>
    </div>
  </body>
</html>
